@model DataEditor.Models.commoditys

@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-lg d-flex justify-content-center align-items-center align-content-center justify-content-xl-center align-items-xl-center div-c" style="/*height: 83%;*/">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th>موجودی</th>
                    <th>قیمت&nbsp;</th>
                    <th class="dfg">نام انبار</th>
                    <th>کد انبار</th>
                    <th>نام کالا</th>
                    <th class="dfg">کد کالا</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 1.2</td>
                    <td class="dfg">Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td class="dfg">Cell 5</td>
                </tr>
                <tr>
                    <td>Cell 1</td>
                    <td>Cell 1.2</td>
                    <td class="dfg">Cell 2</td>
                    <td>Cell 3</td>
                    <td>Cell 4</td>
                    <td class="dfg">Cell 5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

